$screen-l: 1200px;
$screen-m: 991px;
$screen-s: 768px;
$screen-xs: 576px;

@mixin font($ff, $fw) {
	font-family: $ff, sans-serif;
	font-weight: $fw;
}

@mixin a($width) {
	@media only screen and (max-width: $width+ "px") {
		@content;
	}
}

@mixin line-c($lines) {
	display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}